p {
color: white;
font-style: normal;
font-family: Comic, cursive, sans-serif;
}

p.paragraph{
  text-align: left;
}

 body{
   background-color: black;
   color: white;
 }

 h1{
   color: orange;
   font-family: arial;
  text-align: center;
 }

 h2{
   color:white;
}

h3{
  color:white;
}

 h4{
   color:white;
 }


 footer{
   color: white;
 }

 ul{
   color:white;
   font-family: Comic, cursive, sans-serif;
 }
 ol{
   color:white;
 font-family: Comic, cursive, sans-serif;}

 table{
   color: white;
   border-color: orange;
 }
