p {
color: white;
font-style: normal;
font-family: Comic, cursive, sans-serif;
}

p.paragraph{
  text-align: left;
}

 body{
   background-color: black;
   color: white;
 }

 h1{
   color: orange;
   font-family: arial;
  text-align: center;
 }

 h2{
   color: orange;
  border-bottom: red;
}

h3{
  color:white;
}

 h4{
   color:white;
 }

 footer{
   color: white;
 }

 ul{
   color:white;
   font-family: Comic, cursive, sans-serif;
   background-color: rgb(153, 51, 153);
 }
 ol{
   color:white;
 font-family: Comic, cursive, sans-serif;}

 table{
   color: black;
   border-color: rgb(153, 51, 153);
   text-align: center;
   margin: 0 auto;
   background-color: orange;
 }

img.decoration{
  margin: 0 auto;
}

 a{

 }

.center{
  display: block;
  margin: 0 auto;
  
}

 #gradient{
   background-image: linear-gradient(red, yellow;);
 }

 #video{
border-style: dashed;
border-color: lawngreen;
color: lawngreen;
background-color:black;
hover: rgb(153, 51, 153);
 }

 a.taskbar{
   color: orange;
   background-color: black;
 }

 a:hover{
   background-color: orange;
   color:black;
 }
#video:hover{
   background-color: rgb(153, 51, 153);

 }

h4.history{
  color: rgb(153, 51, 153);
}
