p {
color: white;
font-style: normal;
font-family: Comic Sans MS,sans-serif;

{

}

}
 body{
   background-color: black;
   color: white;
 }

 h1{
   color: white;
 }
 h2{color:white;}
h3{color:white;}
 h4{color:white;}


 footer{
   color: white;
 }

 ul{color:white;}
 ol{color:white;}

 table{
   color: white;
 }
