p {
color: white;
font-style: normal;
font-family: Comic, cursive, sans-serif;
}

.paragraph {
  background-color: blue;
}

body {
   background-color: black;
   color: white;
 }

 h1{
   color: orange;
   font-family: Trattatelo, fantasy;
 }
 h2{
   color:yellow;
 }

h3{color:white;
}

 h4{
   color:white;
 }


 footer{
   color: white;
 }

 ul{
   color:white;
   font-family: Comic, cursive, sans-serif;
 }
 ol{
   color:white;
 font-family: Comic, cursive, sans-serif;}

 table{
   color: white;
   border-color: orange;
 }
